{% extends '/layout.html.twig' %}

{% block page_title %}
    myCLAP - {{ category.label }}
{% endblock %}

{% block content %}

    <div class="header-center">
        <div>
            <h2>Catégorie</h2>
            <h1>{{ category.label }}</h1>
        </div>
    </div>

    <p class="text-center text-muted mb-25">{{ category.description }}</p>

    <div class="fulgur-load_more" data-url="{{ route_url('listapi-category-video', category.slug) }}" data-max="{{ category.number_of_videos }}">
        <div class="row">
            {% for video in category.videos %}

                <div class="video">
                    <a href="{{ route_url('watch-index', video.token) }}">
                        <div class="thumbnail fulgur-background_loading" data-url="{{ route_url('watch-media-thumbnail', video.token, 360) }}">
                            <div>
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-1x" style="color: whitesmoke"></i>
                                    <i class="fas fa-play-circle fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                        <div class="info">
                            <h3>{{ video.name }}</h3>
                            <p>{{ video.views|views_label ~ " • " ~ video.created_on|since_label }}</p>
                        </div>
                    </a>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}